.popup-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .popup-modal-content {
    background: rgba(255, 255, 255, 1);
    padding: 1em;
    width: auto;
    height: auto;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
  }
}
